{% extends 'base/base.html' %} 

{% block styles %}


    <style>
        .boletos-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }

        .boleto {
            border: 1px solid #ccc;
            padding: 20px;
            text-align: center;
        }

        .boleto img {
            max-width: 150px;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        .comprar-btn {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border: none;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Boletos</h1>
    <div class="boletos-container">

        {% for boleto in boletos %}
          {% include 'components/boletos_card.html' with precio=boleto.precio tipo_boleto_id=boleto.tipo_boleto_id fecha=boleto.fecha photo=boleto.photo %}
         {% empty %}
         <h1> no hay boletos</h1>
            
        {% endfor %}
    </div>
{% endblock %}
