h1{
    text-align: center;
    color: blue;
}

p {
    text-align: center;
    color: rgb(255, 0, 255);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container div {
    text-align: center;
    color: green;
    font-size: 20px;
    border: 1px solid black;
}