body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(238, 152, 192);
}
h1 {
    font-size: 24px;
    font-weight: bold;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding: 20px;
    justify-content: center;
    
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.user-card {
   width: 200px;
   text-align: center;
   background-color: #f0f0f0;
   padding: 15px; 
   border-radius: 10px;
}

.card img {
    width: 100%;
    height: auto;
}
.card .info {
    padding: 10px;
}
.card h3 {
    margin: 0;
    font-size: 18px;
}
.card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}