{% extends 'base/base.html' %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
    
{% endblock %}

{% block content %}
    <h1>Lista de clientes</h1>
    <div class="container">
        {% for user in users %}
            {% include 'components/UserCard.html' with name=user.name email=user.email id=user.id age=user.age photo=user.photo %}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/users.js' %}"></script>
{% endblock %}